.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.iconInnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 10%;
}
@media (max-width: 575.98px) {
  .iconInnerContainer {
    width: 40%;
  }
}
